@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rosybrown;
}

h1 {
    font-size: 58px;
    text-align: center;
    margin: 24px auto 12px;
    color: antiquewhite;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 12px;
    color: antiquewhite;
    font-weight: 600;
}

main {
    background-color: whitesmoke;
    padding-top: 24px;
    padding-bottom: 12px;
    margin: 0 20%;
    border-radius: 10%;
}

#item-table {
    border: solid 2px rosybrown;
    text-align: center;
    margin: 24px auto;
    background-color: white;
    font-weight: 600;
}

td {
    padding: 4px 12px;
    border: solid 1px rosybrown;
}

th {
    border: solid 2px rosybrown;
    padding: 4px 12px;
}

form {
    width: fit-content;
    margin: 36px auto 0 auto;
    font-weight: 600;
}

input {
    display: block;
    margin-bottom: 24px;
    padding: 6px;
    border: solid 2px rosybrown;
    border-radius: 6px;
    font-weight: 600;
}

input[type=submit] {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

input[type=submit]:hover {
    background-color: rosybrown;
    color: antiquewhite;
}