@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
}

#item-table {
    border: solid 2px black;
    text-align: center;
}

td {
    padding: 4px 12px;
    border: solid 1px black;
}

th {
    border: solid 2px black;
    padding: 4px 12px;
}

input {
    display: block;
    margin-bottom: 24px;
}